.App {
  text-align: center;
  padding: 2rem;
}

select {
  margin-bottom: 1rem;
}

.model-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.model-fields > div {
  padding: 0.5rem;
}